* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: black;

    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

/* Boostrap nav */
.navbarnav {
    background-color: darkorchid;

}

.navlogo {
    width: 120px;
    height: 70px;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {

    font-size: 20px;

    list-style: none;
    position: relative;
    display: inline-block;
}

ul li a {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

li:hover {
    background: linear-gradient(rgb(222, 222, 255), darkorchid);

}

h1 {
    text-align: center;
    color: cornsilk;
    text-decoration: underline;
    margin: 30px;
}





main {
    margin: 20px;
    padding: 20px;

}

/* Modificamos el texto y imagen de fondo del index */
.imagenmastxt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenfondo {
    width: 700px;
    height: 800px;
}


/* subtitulos */
.div1 {
    border-image: linear-gradient(70deg, darkblue, darkorchid);
    border-width: 6px;
    border-style: solid;
    border-image-slice: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tamaño3 {
    text-align: center;
    font-size: 40px;
    color: darkorchid;
    margin-bottom: 120px;
}

.tamaño2 {
    margin-bottom: 120px;
    margin-left: 450px;
}

.tamaño2 {
    font-size: 40px;
    color: darkorchid;
}

/* parrafo pagina principal  */
.parrafo1 {
    color: darkblue;
    background: linear-gradient(rgb(222, 222, 255), darkorchid);
    margin: 20px;
    font-size: 20px;
}

/* Footer */
.lineafooter {
    margin: auto;
    width: 50%;
    height: 2px;
    background-color: silver;

}

.h4index {
    color: cornsilk;
    text-align: center;
    font-size: 50px;

}

/* Formulario de contacto */
.nombremenu {
    color: white;
    padding-left: 20px;
}

.textarea {
    padding-right: 20px;
}

.enviar {
    padding-right: 100px;
}

.borrar {

    padding-right: 100px;
}

/* Modificamos la pagina de ARMADO DE EQUIPO */

.contenedorpadre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30vw;

}

.contenedorpadre .contenedorhijo {
    position: relative;
    height: 300px;
    width: 400px;
    overflow: hidden;
    box-shadow: 0px 0px 15px darkorchid;
    cursor: pointer;
}


.contenedorpadre .contenedorhijo img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedorpadre .contenedorhijo .contenidoimg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(169, 169, 169, 0.4);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedorpadre .contenedorhijo:hover>.contenidoimg {
    opacity: 1;
    visibility: visible;
}

.contenedorpadre .contenedorhijo .contenidoimg h3 {
    color: aliceblue;
    font-weight: bold;
}

.contenedorpadre .contenedorhijo .contenidoimg p {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    padding: 4px;
}

/* Media Querys para Pagina de armado de equipo */
@media (max-width: 977px){
    .contenedorpadre{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: auto;
        
        
    }

}

/* Media Querys para pagina de Inicio */
@media (max-width: 770px) {
    .imagenmastxt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagenfondo {
        width: 300px;
        height: 400px;
    }

    .navbarnav {
        margin: auto;
    }

}

@media (max-width: 1750px) {
    .div1 {
        height: 800px;
        width: 300px;
    }

    .imagenmastxt .div1 .tamaño2 {
        margin: 0;


    }
}
