* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    /* color: rgb(0, 0, 0);
    background-image: url(../imagenes/katafondofinal.jfif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    /* background-image: 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    background-color: black;

    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

/* Boostrap nav */
.navbarnav {
    background-color: #d674ce;

}

.navlogo {
    width: 120px;
    height: 70px;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    
    font-size: 20px;

    list-style: none;
    position: relative;
    display: inline-block;
}

ul li a{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

li:hover {
    background: linear-gradient(#f571e6, #e4e4d9);

}

h1 {
    text-align: center;
    color: cornsilk;
    text-decoration: underline;
    margin: 60px;
}





main {
    margin: 20px;
    padding: 20px;

}
/* Modificamos el texto y imagen de fondo del index */
.imagenmastxt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenfondo{
    width: 700px;
    height: 800px;
}

@media (max-width: 770px){
    .imagenmastxt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imagenfondo{
        width: 300px;
        height: 400px;
    }
    .navbarnav{
        margin: auto;
    }

}

@media (max-width: 1750px){
    .div1{
        height: 800px;
        width: 300px;
    }
   
    .imagenmastxt .div1 .tamaño2{
        margin: 0;

    
    }
}

/* subtitulo 2 */
.div1{
    border: 1px solid #d674ce;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tamaño2{
    margin-bottom: 120px;
    margin-left: 450px;
}
.tamaño2 {
    font-size: 40px;
    color: cornsilk;
}

/* parrafo pagina principal  */
.parrafo1 {
    color: rgb(246, 213, 173);
    margin: 20px;
    font-size: 20px;
}

/* Footer */
.lineafooter {
    /* margin-left: 500px; */
    margin: auto;
    width: 50%;
    height: 2px;
    background-color: silver;

}

.h4index {
    color: cornsilk;
    text-align: center;
    font-size: 50px;

}

/* Formulario de contacto */
.nombremenu {
    color: white;
    padding-left: 20px;
}

.textarea {
    padding-right: 20px;
}

.enviar {
    padding-right: 100px;
}

.borrar {

    padding-right: 100px;
}

.card{
    display: flex;
}




